<!--<h1>Stats</h1> 
<a routerLink="/">Home</a> -->

<div>
    <h2>
      <button class="button-57" role="button" routerLink="/">Home</button>
    </h2>
  </div>



<h2>Registered Members</h2>
<table>
    <thead>
        <td>PID</td>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Action</td> 
    </thead>
    <tbody>
        <tr *ngFor="let user of users$ | async">
            <td>{{ user.pid }}</td>
            <td>{{ user.first_name}}</td>
            <td>{{ user.last_name }}</td>
            <td><button (click)="deleteUser(user.pid)">Delete</button></td>
        </tr>
    </tbody>
</table>


<h2>Checked-In Members</h2>
<table>
    <thead>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Date and Time</td>
    </thead>
    <tbody>
        <tr *ngFor="let checkin of checkins$ | async">
            <td>{{ checkin.user.first_name }}</td>
            <td>{{ checkin.user.last_name }}</td>
            <td>{{ checkin.created_at | date:'yyyy/MM/dd @ hh:mma'}}</td>
        </tr>
    </tbody>
</table>

<hr>

<!-- <a routerLink="/">Home</a> -->