<div>
    <h2>
      <button class="button-56" role="button" routerLink="/">Home</button>
    </h2>
</div>
<body>
<div class="center-container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form">
        <div class="message">
          <p>{{ message }}</p>
        </div>
        <div class="title">Checkin</div>
        <div class="subtitle">Let's get you checked in!</div>

        <div class="input-container ic2">
          <input id="pid" class="input" type="text" formControlName="pid" />
          <div class="cut cut-short"></div>
          <label for="pid" class="placeholder">PID</label>
        </div>
        <div class="submit-button">
        <button type="submit" class="submit">Submit</button>
        </div>
      </div>
    </form>
    </div>
  </body>